body {
    font-family: Source Code Pro;
    background-color: powderblue;
    padding: 3% 3%;
    text-align: center;
}

.title {
    color: rgb(85, 4, 105);
}

.googleplaystorebtn {background-image: linear-gradient(to right, #E55D87 0%, #5FC3E4  51%, #E55D87  100%)}

.googleplaystorebtn {
    font-family: Source Code Pro;
    color: black;
    cursor:pointer;
    transition: 150ms ease;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    transition: 0.5s;
    
}

.googleplaystorebtn:hover {
    background-position: right center;
}

.applestorebtn {background-image: linear-gradient(to right, #E55D87 0%, #5FC3E4  51%, #E55D87  100%)}

.applestorebtn {
    font-family: Source Code Pro;
    color: black;
    cursor:pointer;
    transition: 150ms ease;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    transition: 0.5s;
}

.applestorebtn:hover {
    background-position: right center;
}
